[Unit]
Description=SATPI refresh TLE, predict passes, and schedule timers
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=andreas
WorkingDirectory=/home/andreas/satpi
ExecStart=/usr/bin/python3 /home/andreas/satpi/bin/update_tle.py
ExecStart=/usr/bin/python3 /home/andreas/satpi/bin/predict_passes.py
ExecStart=/usr/bin/python3 /home/andreas/satpi/bin/schedule_passes.py
